%li 
  .profile_icon
    =icon_for( chirp.profile )
  %span.messsage
    %blockquote
      = chirp.message
      %br
  %span.author
    Sent on
    = format_time(chirp.created_at)
    by
    %a{:href=>"/#{chirp.profile.name}"}
      = chirp.profile.name




