#chirpbox
  %form{:action=>'/chirp', :method=>'POST'}
    %label{:for=>:message} What's on your mind?
    %br
    %textarea{:name=>:message, :id=>:message}
    %br
    %input{:type=>:submit, :value=>"Chirp!"}


