%h2 Your Followers
- if !@profile.has_followers?
  Oh Noes! You don't have any followers.
  Maybe if you chirped more you'd gain some.

- else
  %ul.followers
    - @profile.followers.each do |follower|
      - if follower.id != @profile.id
        = partial :'partials/profile', :locals=>{:profile=>follower}

= partial :'partials/chirpbox'
