%h2 Your Friends

- if @profile.friends.size < 1
  Oh Noes! You don't have any friends.
  %br
  %a{:href=>'/profiles'} Make some!

- else
  %ul.friends
    - @profile.friends.each do |friend|
      - if friend.id != @profile.id
        = partial :'partials/profile', :locals => { :profile => friend }

= partial :'partials/chirpbox'
